doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/styles/style.css')
  body

    //- Define mixin for toolbar icons at the top
    mixin toolbarIcon(src, alt)
      img(src=src alt=alt class='tool-icon')

    .layout-container
      //- Vertical toolbar section
      include tools

      //- Canvas section for drawing diagrams
      .canvas-wrapper
        canvas#tempCanvas
        svg#diagramSvg

    script(src='/js/diagram.js' type='module')
